
.sidenav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.sidenav-links > a {
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
}
.active {
    opacity: 1!important;
}
.sidenav-links > a:hover {
    opacity: 1;
}