.party_logo {
    height: 4rem;
    width: 4rem;
    object-fit: scale-down;
}
.party_members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}
.filter_row {
    display: grid;
    grid-template-columns: auto 1fr;
}
.filter_row > *:not(:first-child) {
    margin-left: 1rem;
}
.filters {
    display: flex;
}
.filters > select {
    height: fit-content;
    width: auto;
}
.age_input {
    width: 5rem;
}